
.Header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: white;
	margin-top:.5em;
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	transition: all 0.3s ease-out 0s;
}

	.Header-logos{
		display: flex;
		align-items: center;
		justify-content:space-between;
		margin-bottom: .5em;
		padding: 0 1em;
	}
	.Header-logos-item{
		display: flex;
		align-items:center;
	}
		.Header-logos-item img{
			height: 4em;
		}
		.Header-logos-item p{
			margin-left: 1em;
		}
	.nav-wrapper{
		display: flex;
		justify-content:center;
	}

.Header
	&-nav
		&-mobile
			display none
		color white
		background $guindo
		ul
			display flex
			justify-content center
			li
				padding 1em
				transition background-color .5s ease
				cursor pointer
				&:hover
					background #681919

@media (max-width:970px)
	.Header
		width 100%
		max-width 100%
		margin 0
@media (max-width:873px)
	.Header-nav
		ul
			justify-content: center;
			text-align: center;
			align-items: center;

@media (max-width:745px)
	.Header
		&-logos
			justify-content space-around
			&-item:nth-child(1)
				p
					display none
		&-nav
			ul
				height: 0;
				overflow: hidden;
				transition height 0.3s ease
			.ul-show
				flex-direction: column;
				align-items: flex-start;
				height 18em 
				border-top: 1px solid white;
				li
					display: block;
					width: 100%;
					text-align: start;
			&-mobile
				display: flex;
				justify-content: flex-end;
				padding: 1em;
				button
					background: none;
					border: none;
				i
					font-size: 1.5rem;


