<header class="Header">
    <div class="Header-logos">
      <article class="Header-logos-item"><img src="./img/logoSEP.jpg">
        <p>INSTITUTO TECNOLÓGICO<br> NACIONAL DE MÉXICO</p>
      </article>
      <article class="Header-logos-item"><img src="./img/logoITS.png">
        <p>INSTITUTO TECNOLÓGICO<br> DE SALTILLO</p>
      </article>
    </div>
    <nav class="Header-nav">
        <ul>
         <li class="link" section="inicio">Inicio</li>
         <li class="link" section="convocatoria">Convocatoria</li>
         <li class="link" section="documentacion">Documentacion</li>
         <li class="link" section="programa">Programa de actividades</li>
         <li class="link" section="">Sedes de encuentros</li>
          <li class="link" section="">Multimedia</li>
        </ul>
</header>