.Container
	padding-top 8em
	height 100% 
	&-Tel
		width 95%
		margin 1em auto

.Tel-Lugares
	background none !important
	margin-bottom 2em
.container-telefonos-items
	width 48% 

@media(max-width 919px)
	.container-telefonos
		flex-direction column
		&-items
			width 100% 


