.Convocatoria
	display flex
	&-info
		height 100vh
		width 100%
		&-container
			display flex
			flex-direction: column
			justify-content: space-around
			align-items center
			width 90%
			margin 0 auto
			height 100%
			h2
				font-size 2rem
				color white
			&-proposito
				background #FFF
				box-shadow inset -15px -5px 26px 0px rgba(51, 50, 50, 0.48)
				p
					padding 1em
			&-tecs
				display flex
				flex-directions row
				justify-content space-around
				align-items center
				background #fff
				border-bottom 1px solid black
				border-top 1px solid black
				height 10em 
				width 100% 
				.img
					height 8em
					width 8em
					img
						border-radius: 14px;
						width inherit
						height inherit
	&-img
		box-shadow: inset 14px 1px 12px 0px rgba(50, 50, 50,1)
		width 30em
		background-image url(./img/portadaITS.jpg)
		background-size cover
		background-position center
		height 100vh
@media (max-width:930px)
	.Convocatoria
		flex-direction column