.Container-Boletin
	padding-top 8em
	h2
		padding 0
	&-Boletines
		margin 0 auto
		display flex
		flex-direction row
		flex-wrap: wrap
		justify-content space-between
		&-Card
			width 33.3333% 
			margin-bottom 5em
			img
				width 100% 
				height 10.3em

.md-dialog-content
	text-align justify
.md-headline
	font-size 1em !important

@media(max-width 960px)
	.Container-Boletin
		&-Boletines
			&-Card
				width 50%
@media(max-width 768px)
	.Container-Boletin
		&-Boletines
			&-Card
				width 100%
				img
					height 13em
@media(max-width 422px)
	.Container-Boletin
		&-Boletines
			&-Card
				img
					height 10em

@import './boletin1/boletin1'

