.Actividades
	display flex
	align-items center
	width 100%
	justify-content center
	.md-padding
		width 100%
		overflow: auto;
	.md-tabs
		height 50em
	.md-tab-content
		bottom inherit !important
	ul 
		li
			margin .5em 0

.title-actividad
	text-transform none !important
