
<div id="Actividades"  class="sample OnePage bgFullPage Actividades OnePageSection" layout="column" ng-cloak>
  <md-content class="md-padding u-wrapper-90">
    <md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="" class="md-tabs">
      <md-tab ng-repeat="tab in vm.tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
          <h2>{{tab.actividad.title}}</h2>
          <p>{{tab.actividad.desc}}</p>
          <ul class="tab-horarios">
            <li ng-repeat="hra in tab.horarios">{{hra}}</li>
          </ul>
          <div>
            <map center="[{{tab.lugar.latlong}}]" zoom="18">
              <marker position="[{{tab.lugar.latlong}}]"></div>
            </map>
          </div>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>

</div>