.Actividades
	display flex
	align-items center
	width 100%
	justify-content center
	.md-padding
		width 100%
	.md-tabs
		height 50em
	.tab-horarios
		li
			margin .5em 0
	.md-tab-content
		bottom inherit !important