.Programa
	&-Container
		width 90%
		margin 0 auto;
		display flex
		flex-direction column
		align-items center
		h2
			margin: 1em 0;
			font-size: 2rem;
			color #fff
		.scroll
			height: 25em;
			overflow-y scroll
			overflow-y auto
			table, th, td
				border: 1px solid black
			table
				background #fff
				width 100%
				text-align center
				thead
					background #CACCCB
					th:nth-child(3)
						width 23em
				tbody
					.Actividad
						width 23em
	button
		border: 0;
		padding: 1em 2em;
		margin: 1em 0 0 4em;
		background white;
		transition all 0.2s ease 0s
	button:hover
		box-shadow inset 0 0 0 5px #BBBBBB