<header-return></header-return>
<section class="Container gris">
	<h2>Lugares tur&iacutesticos</h2>
	<div class="container-input">
		<i class="fa fa-search"></i>
		<input type="text" class="input" ng-model="search" >
	</div>
	<div class="Container-Lugar">
		<md-card class="Container-Lugar-card" ng-repeat="lugar in lugares | filter:search">
			<img src="{{lugar.img}}" class="md-card-image" alt="IMAGEN">
			<md-card-title>
			  <md-card-title-text>
			    <span class="md-headline"><b ng-bind-html=" lugar.title| to_trusted"></b></span>
			  </md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p><i class="fa fa-phone iconosLugares"> {{lugar.phone}}</i></p>
				<p><i class="fa fa-calendar iconosLugares" ng-bind-html=" lugar.dia| to_trusted"></i></p>
				<p><i class="fa fa-clock-o iconosLugares"> {{lugar.hora}}</i></p>
				<p><i class="fa fa-map-marker iconosLugares"><a href="{{lugar.maps}}" target="_blank"> Google maps</a></i></p>
			</md-card-content>
		</md-card>
	</div>
</section>