.Container
	margin-top 8em 
	.Container-Lugar
		width 95%
		margin 0 auto
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&-card
			max-width 30% 
			img
				width 100%
				height 13em

.iconosLugares
	padding .5em 