<header class="Header"> 
    <div class="Header-logos">
      <article class="Header-logos-item"><img src="./img/logoSEP.jpg">
        <p>INSTITUTO TECNOL&OacuteGICO<br> NACIONAL DE M&EacuteXICO</p>
      </article>
      <article class="Header-logos-item"><img src="./img/logoITS.png">
        <p>INSTITUTO TECNOL&OacuteGICO<br> DE SALTILLO</p>
      </article>
    </div>
    <nav class="Header-nav">
        <div class="Header-nav-mobile">
          <button id="hamburguer">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <ul id="hide-ul">
         <li class="link" ng-click="vm.app.changeSection('Inicio')" ng-class="{sectionActive: vm.app.sectionActive === 'Inicio'}">Inicio</li>
         <li class="link" ng-click="vm.app.changeSection('Mensaje')" ng-class="{sectionActive: vm.app.sectionActive === 'Mensaje'}">Mensaje</li>
         <li class="link" ng-click="vm.app.changeSection('Propositos')" ng-class="{sectionActive: vm.app.sectionActive === 'Propositos'}">Prop&oacutesitos</li>
         <li class="link" ng-click="vm.app.changeSection('Documentacion')"ng-class="{sectionActive: vm.app.sectionActive === 'Documentacion'}">Documentaci&oacuten</li>
         <li class="link" ng-click="vm.app.changeSection('Actividades')"ng-class="{sectionActive: vm.app.sectionActive === 'Actividades'}">Programa de actividades</li>
         <li class="link" ng-click="vm.app.changeSection('Sedes')" ng-class="{sectionActive: vm.app.sectionActive === 'Sedes'}">Sedes de encuentros</li>
          <li class="link"  ui-sref="multimedia">Multimedia</li>
          <li class="link" ui-sref="boletin">Bolet&iacuten</li>
        </ul>
</header>