<header class="Header"> 
    <div class="Header-logos">
      <article class="Header-logos-item"><img src="./img/logoSEP.jpg">
        <p>INSTITUTO TECNOLÓGICO<br> NACIONAL DE MÉXICO</p>
      </article>
      <article class="Header-logos-item"><img src="./img/logoITS.png">
        <p>INSTITUTO TECNOLÓGICO<br> DE SALTILLO</p>
      </article>
    </div>
    <nav class="Header-nav">
        <div class="Header-nav-mobile">
          <button id="hamburguer">
            <li class="link" ui-sref="app"><i class="fa fa-arrow-left" style="font-size:1rem"></i>Regresar</li>
          </button>
        </div>
        <ul id="hide-ul" class="nav-multimediaBoletin">
         <li class="link" ui-sref="app"><i class="fa fa-arrow-left"></i>Regresar</li>
        </ul>
</header>