<section id="Documentacion" class="OnePageSection  bgFullPage Documentacion gris">
  <div layout="column" flex layout-fill ng-cloak class="u-wrapper-90 Docu">
      <div class="title-programacion"><h2 class="wow bounceInRight">Programaci&oacuten De Actividades Por Delegaci&oacuten</h2></div>
    <md-content style="height: 600px;" md-theme="altTheme">
      <section>
        <md-subheader class="md-primary">
          <p>Tecnol&oacutegicos<br> Participantes</p>
          <i class="fa fa-search">
            <input type="text" class="input" ng-model="search">
          </i>
        </md-subheader>
        <md-list layout-padding class="container-delegaciones">
          <md-list-item class="md-3-line container-delegaciones-items" ng-repeat="delegacion in delegaciones | filter:search">
              <img ng-src="{{delegacion.logoTec}}" class="md-avatar">
              <div class="md-list-item-text">
                <h3>{{delegacion.tec}}</h3>
                <h4><a href="{{delegacion.href}}"><i class="fa fa-arrow-circle-down"></i> Programacion</a></h4>
                <p>{{delegacion.sede}}</p>
              </div>
          </md-list-item>
        </md-list>
      </section>

    </md-content>
  </div>
</section>