/*.Documentacion
	&-Container
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content: space-between;
		margin-top: 2em;
		div
			width 33%
			margin-bottom 1em 
			a
				height 4em 
				.Documentacion-Container-Delegaciones
					background-color #fff
					height 100%
					display: flex
					flex-direction: row
					justify-content: center
					align-items: center
					box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175)
					img
						height: 4em;
						border-radius: 100%;
						margin-right: 1em*/
.Documentacion
	margin-bottom 2em
	.Docu
		margin-bottom 2em  
		h2
			text-align center
			display: block;
			width: 100%;
.title-programacion
	display flex


@media(max-width 800px)
	.Documentacion-Container
		div
			width 48%

@media(max-width 500px)
	.Documentacion-Container
		div
			width 100% 
