<div class="Container-Boletin gris">
	<h2>Boletín</h2>
	<div ng-cloak class="Container-Boletin-Boletines">
	      <md-card class="Container-Boletin-Boletines-Card">
	        <img src="./img/banda.jpg" class="md-card-image" alt="IMAGEN">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">XXll Encuentro Nacional de Escoltas y Bandas de Guerra</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
				<b>México, D.F., 03 de marzo 2015, TecNM/DDC.</b> Mil cuatrocientos estudiantes de 39 institutos tecnológicos de todo el país...
	          </p>
	        </md-card-content>
		    <md-button class="btn md-primary md-raised" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">
		      Ver mas
		    </md-button>
	      </md-card>
	      <md-card class="Container-Boletin-Boletines-Card">
	        <img src="./img/banda.jpg" class="md-card-image" alt="IMAGEN">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">XXll Encuentro Nacional de Escoltas y Bandas de Guerra</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
				<b>México, D.F., 03 de marzo 2015, TecNM/DDC.</b> Mil cuatrocientos estudiantes de 39 institutos tecnológicos de todo el país...
	          </p>
	        </md-card-content>
		    <md-button class="btn md-primary md-raised" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">
		      Ver mas
		    </md-button>
	      </md-card>
	      <md-card class="Container-Boletin-Boletines-Card">
	        <img src="./img/banda.jpg" class="md-card-image" alt="IMAGEN">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">XXll Encuentro Nacional de Escoltas y Bandas de Guerra</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
				<b>México, D.F., 03 de marzo 2015, TecNM/DDC.</b> Mil cuatrocientos estudiantes de 39 institutos tecnológicos de todo el país...
	          </p>
	        </md-card-content>
		    <md-button class="btn md-primary md-raised" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">
		      Ver mas
		    </md-button>
	      </md-card>
	      <md-card class="Container-Boletin-Boletines-Card">
	        <img src="./img/banda.jpg" class="md-card-image" alt="IMAGEN">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">XXll Encuentro Nacional de Escoltas y Bandas de Guerra</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
				<b>México, D.F., 03 de marzo 2015, TecNM/DDC.</b> Mil cuatrocientos estudiantes de 39 institutos tecnológicos de todo el país...
	          </p>
	        </md-card-content>
		    <md-button class="btn md-primary md-raised" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">
		      Ver mas
		    </md-button>
	      </md-card>
	      <md-card class="Container-Boletin-Boletines-Card">
	        <img src="./img/banda.jpg" class="md-card-image" alt="IMAGEN">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">XXll Encuentro Nacional de Escoltas y Bandas de Guerra</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
				<b>México, D.F., 03 de marzo 2015, TecNM/DDC.</b> Mil cuatrocientos estudiantes de 39 institutos tecnológicos de todo el país...
	          </p>
	        </md-card-content>
		    <md-button class="btn md-primary md-raised" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">
		      Ver mas
		    </md-button>
	      </md-card>
	      <md-card class="Container-Boletin-Boletines-Card">
	        <img src="./img/banda.jpg" class="md-card-image" alt="IMAGEN">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">XXll Encuentro Nacional de Escoltas y Bandas de Guerra</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
				<b>México, D.F., 03 de marzo 2015, TecNM/DDC.</b> Mil cuatrocientos estudiantes de 39 institutos tecnológicos de todo el país...
	          </p>
	        </md-card-content>
		    <md-button class="btn md-primary md-raised" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">
		      Ver mas
		    </md-button>
	      </md-card>
	      <md-card class="Container-Boletin-Boletines-Card">
	        <img src="./img/banda.jpg" class="md-card-image" alt="IMAGEN">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">XXll Encuentro Nacional de Escoltas y Bandas de Guerra</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
				<b>México, D.F., 03 de marzo 2015, TecNM/DDC.</b> Mil cuatrocientos estudiantes de 39 institutos tecnológicos de todo el país...
	          </p>
	        </md-card-content>
		    <md-button class="btn md-primary md-raised" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">
		      Ver mas
		    </md-button>
	      </md-card>
	      <md-card class="Container-Boletin-Boletines-Card">
	        <img src="./img/banda.jpg" class="md-card-image" alt="IMAGEN">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">XXll Encuentro Nacional de Escoltas y Bandas de Guerra</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
				<b>México, D.F., 03 de marzo 2015, TecNM/DDC.</b> Mil cuatrocientos estudiantes de 39 institutos tecnológicos de todo el país...
	          </p>
	        </md-card-content>
		    <md-button class="btn md-primary md-raised" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">
		      Ver mas
		    </md-button>
	      </md-card>
	      <md-card class="Container-Boletin-Boletines-Card">
	        <img src="./img/banda.jpg" class="md-card-image" alt="IMAGEN">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">XXll Encuentro Nacional de Escoltas y Bandas de Guerra</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
				<b>México, D.F., 03 de marzo 2015, TecNM/DDC.</b> Mil cuatrocientos estudiantes de 39 institutos tecnológicos de todo el país...
	          </p>
	        </md-card-content>
		    <md-button class="btn md-primary md-raised" ng-click="showAdvanced($event)" flex="100" flex-gt-md="auto">
		      Ver mas
		    </md-button>
	      </md-card>
	</div>
</div>
