<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar style="background-color:#980e0e;">
      <div class="md-toolbar-tools">
        <h2>Instituto Tecnologico de Saltillo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>XXll Encuentro Nacional de Escoltas y Bandas de Guerra</h2>
        <p>
          México, D.F., 03 de marzo 2015, TecNM/DDC. Mil cuatrocientos estudiantes de 39 institutos tecnológicos de todo el país rindieron tributo, de forma magistral, a nuestros símbolos patrios en el XXI Encuentro Nacional de Escoltas y Bandas de Guerra de los Institutos Tecnológicos, celebrado del 21 al 26 de febrero en el Instituto Tecnológico de Nuevo Laredo, ITNL, que este año conmemora su 50 Aniversario.
        </p>
        <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="./img/banda.jpg">
        <p>
          Gallardía, honor y fervor patriótico vivieron las y los jóvenes participantes y los más de quince mil asistentes en las distintas presentaciones en diferentes instituciones educativas y plazas del municipio. El martes 24, por la mañana, al celebrarse el 105 aniversario del Lábaro Patrio fue izada la bandera monumental, en el Parque Morelos, además se realizó el abanderamiento a varias escuelas y fueron incineradas las banderas que se han utilizado en los primeros 20 encuentros de escoltas y bandas de guerra. También se rindió un homenaje a Maclovio Herrera, ilustre revolucionario.
        </p>
        <p>
          La comunidad tecnológica abrió sus puertas y su corazón, así también la ciudad entera al ovacionar con alegría y entusiasmo el desfile monumental de las 39 escoltas y bandas de guerra que lucieron con orgullo sus trajes de gala durante la inauguración. Cada uno de los contingentes fue admirado por miles de familias congregadas en la Unidad Deportiva Benito Juárez, pese al viento del norte y el gradual descenso de temperatura.
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
