<header-return></header-return>
<section id="Multimedia" class="Multimedia">
	<div class="u-wrapper-90">
		<popup-galeria ng-show="multimedia.isPopupOn" imgs="multimedia.eventoSeleccionado" is-popup-on="multimedia.isPopupOn"></popup-galeria>
		<div id="Multimedia-galeria">
			<h2 class="Multimedia-type"><i class="fa fa-camera-retro"></i>Galería</h2>
			<article class="Multimedia-galeria Multimedia-content isOpen">
				<div class="Galeria-img" ng-repeat="evento in multimedia.galeria.eventos track by $index">
					<figure ng-click="multimedia.seleccionarEvento(evento.galeria);" style="background-image: url({{evento.img}})"></figure >
					<h3>{{evento.nombre}}</h3>
					<span>{{evento.fecha}}</span>
				</div>
			</article>
		</div>
		<div id="Multimedia-videos">
			<h2 class="Multimedia-type"><i class="fa fa-video-camera"></i>Videos</h2>
			<article class="Multimedia-videos Multimedia-content isOpen">
				<div class="Galeria-img" ng-repeat="evento in multimedia.galeria.eventos">
					<figure ng-click="multimedia.seleccionarEvento(evento.galeria);" style="background-image: url({{evento.img}})"></figure >
					<h3>{{evento.nombre}}</h3>
					<span>{{evento.fecha}}</span>
				</div>
			</article>
		</div>
	</div>
</section>