.Inicio
	background-image url(./img/portadaITS-compressor.jpg)
	background-size cover
	background-repeat no-repeat
	background-position center center
	display flex
	align-items center
	justify-content center
	&-title
		padding 2em
		background rgba(white, 0.7)
		border-top 2px solid $guindo
		border-bottom 2px solid $guindo
		color $guindo
		text-align center